html {
    height: 100%;
}

body {
    height: 100%;
}

#main {
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
}

#menu {
    grid-column: 1;
    overflow:scroll;
    height: 100%;
}

#map {
    grid-column: 2;
}
